body {
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.6;
  color: #333;
  max-width: 800px;
  margin: 20px auto;
  padding: 0 20px;
  background-color: #f8f8f8;
  padding-bottom: 75px;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25;
}

h1 {
  font-size: 2em;
  padding-bottom: 0.3em;
  border-bottom: 1px solid #eaecef;
}

h2 {
  font-size: 1.5em;
  padding-bottom: 0.3em;
  border-bottom: 1px solid #eaecef;
  margin-top: 50px;
}

h3 {
  font-size: 1.25em;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: 0.875em;
}

h6 {
  font-size: 0.85em;
  color: #6a737d;
}

/* Paragraphs */
p {
  margin-top: 0;
  margin-bottom: 16px;
}

/* Links */
a {
  color: #0366d6;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Lists */
ul,
ol {
  margin-top: 0;
  margin-bottom: 16px;
  padding-left: 2em;
}

li {
  margin-bottom: 4px;
}

/* Code */
code {
  font-family:
    "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 85%;
  color: #cb0000; /* Red for inline code */
  background-color: rgba(27, 31, 35, 0.05);
  border-radius: 3px;
  padding: 0.2em 0.4em;
}

pre {
  margin-bottom: 16px;
}

pre code {
  display: block;
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #2f363d; /* Dark background for code blocks */
  color: #f8f8f8; /* Light text for code blocks */
  border-radius: 6px;
}

/* Blockquotes */
blockquote {
  margin: 0 0 16px;
  padding: 0 15px;
  color: #6a737d;
  border-left: 0.25em solid #dfe2e5;
}

blockquote p {
  margin: 0;
}

/* Images */
img {
  max-width: 100%;
  box-sizing: border-box;
}

.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Tables */
table {
  display: block;
  width: 100%;
  overflow: auto;
  margin-bottom: 16px;
  border-spacing: 0;
  border-collapse: collapse;
}

table th {
  font-weight: 600;
}

table th,
table td {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

table tr {
  background-color: #fff;
  border-top: 1px solid #c6cbd1;
}

table tr:nth-child(2n) {
  background-color: #f6f8fa;
}

/* Horizontal rule */
hr {
  height: 0.25em;
  padding: 0;
  margin: 24px 0;
  background-color: #e1e4e8;
  border: 0;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f8f8f8;
  border-top: 1px solid #eaecef;
  padding: 15px 0;
  text-align: center;
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

footer .footerLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
}

footer .footerLinks a {
  padding: 0 15px;
  font-size: 1em;
  color: #333;
  text-decoration: none;
}

footer .footerLinks a:hover {
  text-decoration: underline;
}

.imagegrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 30px;
}
