<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="https://cdn.jsdelivr.net/npm/luxon@3.4.4/build/global/luxon.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="./defaults.js"></script>

<div id="app" class="agenda">
  <h1>Manor Ward Sacrament Meeting</h1>
  <h2 class="church-name">The Church of Jesus Christ of Latter-day Saints</h2>
  <h3 class="mb-4">{{date}}</h3>

  <template v-if="noData">
    <p class="mt-4">Couldn't find an agenda for today. Enjoy the meeting!</p>
  </template>

  <template v-else>
    <div class="split-item">
      <p>Presiding</p>
      <p>{{presiding}}</p>
    </div>

    <div class="split-item">
      <p>Chorister</p>
      <p>{{chorister}}</p>
    </div>

    <div class="split-item">
      <p>Pianist</p>
      <p>{{pianist}}</p>
    </div>

    <div class="split-item">
      <p>Opening prayer</p>
      <p>{{openingPrayer}}</p>
    </div>

    <div class="split-item">
      <p>Closing prayer</p>
      <p>{{closingPrayer}}</p>
    </div>

    <template v-if="fastSunday">
      <h2>Fast and Testimony Meeting</h2>
      <!-- this paragraph brought to you by the Handbook, 29.2.2 -->
      <p class="fast-sunday-description">
        In a fast and testimony meeting, there are no assigned speakers or
        special musical selections. Instead, the person conducting bears a brief
        testimony. He then invites members of the congregation to bear their
        testimonies. To bear testimony means to declare gospel truths as
        inspired by the Holy Ghost. Testimonies should be brief so that many
        people can participate.
      </p>
    </template>

    <template v-if="speakers.length > 0">
      <h2>Speakers</h2>
      <p v-for="speaker in speakers">{{speaker}}</p>
    </template>

    <h2>Musical Numbers</h2>
    <div class="split-item" v-for="number in musicalNumbers">
      <p>{{number.title}}</p>
      <p>{{number.number}}</p>
    </div>

    <template v-if="announcements.length > 0">
      <h2>Announcements</h2>
      <div class="announcement" v-for="announcement in announcements">
        <h3>{{announcement.title}}</h3>
        <p>{{announcement.text}}</p>
      </div>
    </template>
  </template>
</div>

<script>
  const { createApp } = Vue;
  const { DateTime } = luxon;

  createApp({
    data() {
      return {
        date: DateTime.now().toFormat("MMMM dd, yyyy"),
        presiding: "",
        chorister: "",
        pianist: "",
        openingPrayer: "",
        closingPrayer: "",
        fastSunday: false,
        speakers: [],
        musicalNumbers: [],
        announcements: [],
        noData: false,
      };
    },
    created() {
      this.getBulletin();
    },
    computed: {
      queryDate() {
        const queryString = window.location.search;
        const urlParams = new URLSearchParams(queryString);
        return urlParams.get("date");
      },
    },
    methods: {
      async getBulletin() {
        // prettier-ignore
        const url = "https://us-central1-ward-bulletin-410923.cloudfunctions.net/getBulletin/";
        const queryDate = this.queryDate || DateTime.now().toFormat("yyyyMMdd");
        const fullUrl = url + "?date=" + queryDate;

        const ax = await axios.create({
          baseURL: fullUrl,
        });

        try {
          const { data } = await ax.get();
          this.presiding = data.presiding || defaults.presiding;
          this.chorister = data.chorister || defaults.chorister;
          this.pianist = data.pianist || "TBA";
          this.openingPrayer = data.openingPrayer || "TBA";
          this.closingPrayer = data.closingPrayer || "TBA";
          this.speakers = data.speakers || [];
          this.musicalNumbers = data.musicalNumbers || [];
          this.announcements = data.announcements || [];
          this.fastSunday = data.fastSunday || false;
          // prettier-ignore
          this.date = DateTime.fromFormat(queryDate, "yyyyMMdd").toFormat("MMMM d, yyyy");
          this.noData = false;
        } catch (err) {
          this.noData = true;
        }
      },
    },
  }).mount("#app");
</script>

<style lang="scss">
  @import url("https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Serif&display=swap");

  .agenda {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2rem;
    font-family: "Noto Sans", sans-serif;
  }

  h1 {
    font-size: 5rem;
    margin: 1rem 0;
    font-family: "Noto Serif", serif;
  }

  h2 {
    font-size: 4rem;
    font-family: "Noto Serif", serif;
  }

  h3 {
    font-family: "Noto Serif", serif;
    font-size: 2rem;
    margin: 0.5rem;
  }

  .split-item {
    display: flex;
    justify-content: space-between;
    text-align: left;
    align-items: center;
    gap: 5rem;
    margin: 0.5rem 0;
  }

  p {
    font-size: 3rem;
    margin: 1rem 0;
  }

  .fast-sunday-description {
    font-size: 1rem;
    text-align: left;
  }

  .announcement {
    margin: 1rem 0;
    text-align: left;
    h3 {
      font-size: 3rem;
      margin: 0.5rem;
    }
    p {
      font-size: 2rem;
    }
  }
  .mb-4 {
    margin-bottom: 4rem;
  }
  .mt-4 {
    margin-top: 4rem;
  }
</style>
